body {
  background-color: black;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: space-around; */
}

.gif {
  padding: 0 2px;
}

.loader {
  color: blue;
}

